<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Biopic</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content color="success">
  <ion-card color="primary" href="https://manybooks.net/book/123156/read#epubcfi(/6/2[coverpage-wrapper]!/4/1:0)">
    <ion-card-header>
    
      <ion-card-title>The Count of Monte Cristo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/biopic/The Count of Monte Cristo.jfif"  alt="">
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary" href="https://manybooks.net/book/127414/read#epubcfi(/6/2[item4]!/4/2/1:0)">
    <ion-card-header>
    
      <ion-card-title>Walden and On the Duty of Civil Disobedience</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/biopic/Walden.jpg"  alt="">
    </ion-card-content>
  </ion-card>

  <ion-card color="primary" href="https://manybooks.net/book/124775/read#epubcfi(/6/2[titlepage]!/4/1:0)">
    <ion-card-header>
    
      <ion-card-title>The Story of My Life</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/biopic/The Story of My Life.jfif"  alt="">
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary" href="https://manybooks.net/book/135878/read#epubcfi(/6/2[coverpage-wrapper]!/4/1:0)">
    <ion-card-header>
    
      <ion-card-title>Autobiography of Benjamin Franklin</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/biopic/Benjamin Franklin.jpg"  alt="">
    </ion-card-content>
  </ion-card>

  <ion-card color="primary" href="https://manybooks.net/book/123181/read#epubcfi(/6/2[pg-header]!/4/2[the-three-musketeers]/2/2/1:0)">
    <ion-card-header>
    
      <ion-card-title>The Three Musketeers</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/biopic/The Three Musketeers"  alt="">
    </ion-card-content>
  </ion-card>
</ion-content>