<ion-header>
  <ion-toolbar color="success">
    <ion-title>Action</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card color="primary " href="https://manybooks.net/book/127649/read#epubcfi(/6/2[item4]!/4/2/1:0)">
    <ion-card-header>
    
      <ion-card-title>20,000 Leagues Under the Sea</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/action/f2.jpg"  alt="">
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary " href="https://manybooks.net/book/127668/read#epubcfi(/6/2[item4]!/4/2/1:0)">
    <ion-card-header>
    
      <ion-card-title>The Mysterious Island</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/action/The Mysterious Island.jpg"  alt="">
    </ion-card-content>
  </ion-card>

  <ion-card color="primary " href="https://manybooks.net/book/127650/read#epubcfi(/6/2[titlepage]!/4/1:0)">
    <ion-card-header>
    
      <ion-card-title>Around the World in 80 Days</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/action/Around the World in 80 Days.jpg"  alt="">
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary " href="https://manybooks.net/book/147957/read#epubcfi(/6/2[item3]!/4/2/1:0)">
    <ion-card-header>
    
      <ion-card-title>Tween Snow and Fire</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/action/Tween Snow and Fire.jfif"  alt="">
    </ion-card-content>
  </ion-card>

  
  <ion-card color="primary " href="https://manybooks.net/book/150463/read#epubcfi(/6/2[coverpage-wrapper]!/4/1:0)">
    <ion-card-header>
    
      <ion-card-title>Fast as the Wind</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/action/Fast as the Wind.jfif"  alt="">
    </ion-card-content>
  </ion-card>
</ion-content>
