<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Romance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success">
  <ion-card color="primary" href="https://manybooks.net/book/121576/read#epubcfi(/6/2[titlepage]!/4/1:0)">
    <ion-card-header>
      
      <ion-card-title>Pride and Prejudice</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/romance1/Pride and Prejudice.jpg"  alt="">
    </ion-card-content>
  </ion-card>


  <ion-card color="secondary" href="https://manybooks.net/book/121571/read#epubcfi(/6/2[titlepage]!/4/1:0)">
    <ion-card-header>
    
      <ion-card-title>Emma</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/romance1/emma.jpg"  alt="">
    </ion-card-content>
  </ion-card>


  <ion-card color="primary" href="https://manybooks.net/book/151702/read#epubcfi(/6/2[contents]!/4/2/2/1:0)">
    <ion-card-header>
      
      <ion-card-title>The Unveiling</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/romance1/The Unveiling.jpg"  alt="">
    </ion-card-content>
  </ion-card>


  <ion-card color="secondary" href="https://manybooks.net/book/121575/read#epubcfi(/6/2[titlepage]!/4/1:0)">
    <ion-card-header>
      
      <ion-card-title>Persuasion</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/romance1/persuasion.jfif"  alt="">
    </ion-card-content>
  </ion-card>


  <ion-card color="primary " href="https://manybooks.net/book/122093/read#epubcfi(/6/2[titlepage]!/4/1:0)">
    <ion-card-header>
    
      <ion-card-title>Wuthering Heights</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/romance1/Wuthering Heights.jpg"  alt="">
    </ion-card-content>
  </ion-card>
</ion-content>
