<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Drama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">
<ion-card color="primary" href="https://manybooks.net/book/127533/read#epubcfi(/6/2[coverpage-wrapper]!/4/1:0)">
  <ion-card-header>
  
    <ion-card-title>Adventures of Huckleberry Finn</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="assets/drama/Adventures of Huckleberry Finn.jpeg"  alt="">
  </ion-card-content>
</ion-card>

<ion-card color="secondary" href="https://manybooks.net/book/148396/read#epubcfi(/6/2[coverpage-wrapper]!/4/1:0)">
  <ion-card-header>
  
    <ion-card-title>A Pair of Schoolgirls</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="assets/drama/Schoolgirls.jfif"  alt="">
  </ion-card-content>
</ion-card>

<ion-card color="primary" href="https://manybooks.net/book/121365/read#epubcfi(/6/2[titlepage]!/4/1:0)">
  <ion-card-header>
  
    <ion-card-title>Aesop's Fables</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="assets/drama/Aesop's Fables.jpg"  alt="">
  </ion-card-content>
</ion-card>

<ion-card color="secondary" href="https://manybooks.net/book/132848/read#epubcfi(/6/2[item4]!/4/2/1:0)">
  <ion-card-header>
  
    <ion-card-title>Adventures of Pinocchio</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="assets/drama/Adventures of Pinocchio.jpg"  alt="">
  </ion-card-content>
</ion-card>

<ion-card color="primary" href="https://manybooks.net/book/124835/read#epubcfi(/6/2[titlepage]!/4/1:0)">
  <ion-card-header>
  
    <ion-card-title>Kim</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="assets/drama/Kim.jpg"  alt="">
  </ion-card-content>
</ion-card>
</ion-content>