<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      E-Books
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-card color="success" (click)="romance()">
    <ion-card-header>
      
      <ion-card-title>Romance</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/romance.jpg"  alt="">

    </ion-card-content>
  </ion-card>
  <ion-card color="success" (click)="Action()">
    <ion-card-header>
      
      <ion-card-title>Action And Adventure</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/action.jpg"  alt="">

    </ion-card-content>
  </ion-card>
  <ion-card color="success" (click)="Drama()">
    <ion-card-header>
      
      <ion-card-title>Drama</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/drama.jpg"  alt="">

    </ion-card-content>
  </ion-card>
  <ion-card color="success" (click)="Biopic()">
    <ion-card-header>
      
      <ion-card-title>Biopic</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/biopic.jfif"  alt="">

    </ion-card-content>
  </ion-card>
</ion-content>
